@model MessagingApp.Models.MessageModel
@{
    ViewData["Title"] = "Home Page";
}


@using (Html.BeginForm("SendMessage", "Chat", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0" class="table">
    <tr>
        <td>UserName: </td>
        <td>
            @Html.TextBoxFor(m => m.Message.Username)
        </td>
    </tr>
    <tr>
        <td>Message: </td>
        <td>
            @Html.TextAreaFor(x => x.Message.MessageText, 10, 60, null)
        </td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Send" class="btn btn-primary" /></td>
    </tr>
</table>
}

<hr>
<h4>History:</h4>
@if (Model == null)
{
    <p>No message has been send yet.</p>
}
else
{
    <div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">UserName</th>
                <th scope="col">Message</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SendHistory)
                {
                    <tr>
                        <td>@item.Username</td>
                        <td>@item.MessageText</td>
                        <td>@item.Date</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

}
